body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #74c9fa; /* Pearl white background */
    color: #0054c2; /* Black text */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #0054c2;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    padding: 10px;
    background-color: #ffffff; /* White background for logo */
    width: 100%;
    text-align: center;
}

.nav-logo {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding-top: 150px; /* To avoid content being hidden behind fixed header */
    text-align: center;
}

section {
    margin: 20px 0;
}

h1, h2 {
    color: #000000; /* Black text */
}

p {
    color: #000000; /* Black text */
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .nav-logo {
        width: 100%;
        height: auto;
    }
}